body {
  font-family: Impact, Charcoal, sans-serif;
  text-shadow: 0px 0px 2px magenta;
}
h1 {
  color:red;
  background-color:black;
}

h2 {
  color:red;
  background-color:black;
}

h3 {
  color:red;
  background-color:black;
}
