/* Website styles */
*{
  font-size: 100%;
  /* border: 1px solid #6f0a03; */
  margin: 0;
  line-height: 1;
  box-sizing: border-box;
}


body {
  /* background-color: black; */
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 14px;
  margin: 50px;
  /* background-image: url(images/whitewaves.png) */
    background: url(images/flower.jpg)no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


h1 {
  font-size: 20px;
  color: red;
  background-color: black;
  text-align: justifyl;
  /* border: 1px dotted red; */
}

h2 {
  font-size: 20px;
  color: red;
  background-color: black;
  /* border: 1px dotted red; */
}

h3 {
  font-size: 20px;
  color: red;
  background-color: black;
  /* border: 1px dotted red; */
}

header {
  font-size: 20px;
  /* background-color: red; */
  border-bottom: 5px solid black;
  margin: 20px;
  /* padding: 20px; */
}

h1, h2, h3, {
  font-size: 10px;
  font-weight: 20;
  margin-bottom: 0px;
  /* border: 1px dotted red; */
}

p {
  line-height: 4;
  color: red;
  text-align: justify;
  margin: 10px 0;
  /* background-color: black; */
  /* border: 1px solid red; */
}

ol {
  color:red;
  margin: 5px 0;
  font-size: 20px;
  /* border: 1px solid red; */
  padding: 20px;
}

#footer p {
  font-size: 20px;
  color: red;
  background-color: black;
  font-style: bold;

}

a {
  color: red;
  text-decoration: none;
}

a:link,
a:focus,
a:active {
  text-decortion: none;
  color:grey;
}

a:hover {
  /* Text decoration underline*/
  text-decoration: underline;
  background-color: black;
}

img {
  /* width: 300px; */
  /* height: 200px; */
  width: 50%;
}

.title {
  /* font-size: 48px; */
  /* background-color: white; */
  /* text-decoration: underline; */
}

/* .container {
  max-width: 1000px;
  margin: 0 auto;
} */

div {
  margin: 0 auto;
}

.banner {
  height: 250px;
  background-image: url(images/gwasala.jpg);
  background-size: cover;
  background-position: center;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
