/* Website styles */

body {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}


h1 {
  color:red;
  background-color:black;
  text-align: justifyl;
}

h2 {
  color:red;
  background-color:black;
}

h3 {
  color:red;
  background-color:black;
}

h1, h2, h3, {
  font-size:24px;
  font-weight: 900;
}

p {
  line-height: 3;
  color: red;
}

footer p {
  font-size:24px;
  color: white;
  background-color: black;
  font-style: bold;
}

a {
  color: red;
  text-decoration: none;
}

a:link,
a:focus,
a:active {
  text-decortion: none;
  color:black;
}

a:hover {
  text-decoration: underline;
  background-color: black;
}
